.container
  .row.justify-content-center
    .col-8

      p#notice = notice

      p
        strong Name:
        = @event.name
      p
        strong Description:
        = @event.description
      p
        strong Starts at:
        = @event.starts_at
      p
        strong Ends at:
        = @event.ends_at
      p
        strong Rsvp count:
        = @event.rsvp_count
      p
        strong Rsvp min limit:
        = @event.rsvp_min_limit
      p
        strong Rsvp max limit:
        = @event.rsvp_max_limit
      p
        strong Waitlist:
        = @event.waitlist
      p
        strong Waitlist count:
        = @event.waitlist_count
      p
        strong Status:
        = @event.status
      p
        strong Type:
        = @event.type
      p
        strong Visibility:
        = @event.visibility
      br
      br
      p
        .event-comments id="comments-container-#{@event.id}"

css:
  span.delete {
    display: none;
  }

javascript:
    $('.item-like').click(function () {
        var arr = this.id.split('-');
        var clickedType = arr[0];
        var clickedID = arr[1];

        $.ajax({
            type: 'post',
            url: '/votes/like',
            data: {
                votable_type: clickedType,
                votable_id: clickedID,
                user_id: #{current_user.id}
            },
            success: function (returnObj) {
                console.log(returnObj);
            },
            error: function (returnObj) {
                console.log(returnObj);
            }
        });
    });
    $('.item-unlike').click(function () {
        var arr = this.id.split('-');
        var clickedType = arr[0];
        var clickedID = arr[1];

        $.ajax({
            type: 'delete',
            url: '/votes/unlike/',
            data: {
                votable_type: clickedType,
                votable_id: clickedID,
                user_id: #{current_user.id}
            },
            success: function (returnObj) {
                console.log(returnObj);
            },
            error: function (returnObj) {
                console.log(returnObj);
            }
        });
    });

    $('.event-comments').each(function (index, element) {
        var ID = this.id;
        var IDN = parseInt(ID.match(/\d+/));
        var urlSuffix = IDN + '/#{current_user.id}';

        $('#' + ID).comments({
            fieldMappings: {
                parent: 'parent_id',
                content: 'body',
                created: 'created_at',
                modified: 'edited_at',
                upvoteCount: 'upvote_count',
                userHasUpvoted: 'user_has_upvoted'
            },
            enableAttachments: false,
            enableDeleting: false,
            enableNavigation: false,
            enablePinging: true,
            maxRepliesVisible: 20,
            profilePictureURL: '#{current_user.avatar.url}',
            roundProfilePictures: true,
            textareaRows: 1,
            youText: "#{current_user.fullname}",
            getComments: function(success, error) {
                $.ajax({
                    type: 'GET',
                    url: '/comments/show?commentable_type=Event&commentable_id=#{@event.id}',
                    success: function(commentsArray) {
                        success(commentsArray)
                    },
                    error: error
                });
            },
            getUsers: function(success, error) {
                $.ajax({
                    type: 'GET',
                    url: '/user/mentions?r=',
                    success: function(userArray) {
                        success(userArray)
                    },
                    error: error
                });
            },
            postComment: function (commentOBJ, success, error) {
                // commentOBJ has an id we need to remove as this is a new comment
                delete commentOBJ.id;
                // commentOBJ lacks the following data so we inject it
                commentOBJ.commentable_type = 'Event';
                commentOBJ.commentable_id = "#{@event.id}";
                commentOBJ.user_id = "#{current_user.id}";
                console.log(commentOBJ);
                $.ajax({
                    type: 'POST',
                    url: '/comments',
                    data: commentOBJ,
                    success: function (retCommentOBJ) {
                        success(retCommentOBJ)
                    },
                    error: error
                });
            },
            putComment: function (commentOBJ, success, error) {
              $.ajax({
                type: 'PATCH',
                url: '/comments/' + commentOBJ.id,
                data: commentOBJ,
                success: function (retCommentOBJ) {
                  success(retCommentOBJ)
                },
                error: error
              });
            },
            upvoteComment: function(commentsArray, success, error) {
                if(commentsArray.user_has_upvoted) {
                    $.ajax({
                        type: 'POST',
                        url: '/votes/like',
                        data: {
                            votable_type: 'Comment',
                            votable_id: commentsArray.id,
                            user_id: "#{current_user.id}"
                        },
                        success: function() {
                            success(commentsArray)
                        },
                        error: error
                    });
                } else {
                    $.ajax({
                        type: 'DELETE',
                        url: '/votes/unlike',
                        data: {
                            votable_type: 'Comment',
                            votable_id: commentsArray.id,
                            user_id: "#{current_user.id}"
                        },
                        success: function() {
                            success(commentsArray)
                        },
                        error: error
                    });
                }
            }
        })
    });
