li.page-item
  = link_to_unless current_page.last?, '<i class="fas fa-chevron-double-right"></i>'.html_safe, url, remote: remote, class: 'page-link', title: 'Last Page', data: { toggle: 'tooltip', placement: 'bottom' }
