li.page-item
  = link_to_unless current_page.first?, '<span class="pagination-icons">&lsaquo;</span>'.html_safe, url, rel: 'prev', remote: remote, class: 'page-link', title: 'Previous Page', data: { toggle: 'tooltip', placement: 'bottom' }
