css:
  .card img.rounded-circle {
    border-radius: 50%;
  }
  .fc-event {
    color: #fff !important;
  }
  .qtip {
    font-size: 1em;
    max-width: 350px;
  }
  .qtip-titlebar {
    padding: 10px;
    font-size: .85em;
  }
  .qtip-content {
    font-size: .85em;
  }
  .qtip-title-content {
    float: left;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .qtip-title-interactions {
    float: right;
    margin-left: 10px;
  }

.container
  .row.justify-content-center
    .col-7
      .card
        p#notice = notice

        p
          strong First Name:
          = @user.first_name
        p
          strong Last Name:
          = @user.last_name
        p
          strong Location:
          = "#{@user.city}, #{@user.state}"
        p
          strong Age:
          = @user.age
        p
          strong Bio:
          = @user.bio
        p
          = image_tag(@user.avatar.url, size: '100', class: 'rounded-circle')
  br
  br
  .row.justify-content-center
    .col-10
      #calendar
  br
  br

javascript:
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      editable: false,
      events: {
        url: '/events/calendar',
        type: 'GET',
        data: {
          custom_param1: 'something',
          custom_param2: 'somethingelse'
        },
        error: function () {
          alert('there was an error while fetching events!');
        }
      },
      eventRender: function (event, element) {
        element.qtip({
          //content: event.description
          content: {
            text: event.title,
            title: "<div class='qtip-title-content'>" +
              event.description +
              "</div>" +
              "<div class='qtip-title-interactions'><i class='fa fa-heart fa-lg'></i> " + event.votes_count +
              "&nbsp;&nbsp;" +
              "<i class='fa fa-comments fa-lg'></i> " + event.comments_count +
              "</div>"
          },
          position: {
            my: 'bottom center',
            at: 'top center',
            viewport: $('#calendar'),
            adjust: {
              mouse: false,
              scroll: false
            }
          },
          style: 'qtip-blue' //,
          //hide: {
          //  event: false
          //}
        });
      }
    });
  });
