/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap/scss/bootstrap";
@import "jasny-bootstrap.min";
@import "mdb";
@import "bootstrap-social";
@import "font-path-overwrite";
@import "font-awesome/scss/font-awesome";
@import "fullcalendar/dist/fullcalendar";
@import "selectize";
@import "selectize.default";
@import "sweetalert2/dist/sweetalert2";
@import "jquery-comments/css/jquery-comments";

.btn-social > :first-child {
  line-height: 48px;
}
.avatar {
  @extend .img-thumbnail;
  @extend .mx-auto;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}
div.fileinput-preview img {
  @extend .avatar;
}
