/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "jasny-bootstrap.min";
@import "bootstrap-social";
@import "font-path-overwrite";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fullcalendar/dist/fullcalendar";
@import "selectize";
@import "selectize.default";
@import "sweetalert2/dist/sweetalert2";
@import "jquery-comments";
@import "qtip2/dist/jquery.qtip";
@import "jquery.atwho";
@import "forms";
@import "uploads";
@import "simple_discussion";
@import "_simple_discussion";

body {
  color: #3C4858;
}

.navbar {
  min-height: 50px;
  padding: 0 1rem;
  border-radius: 0 !important;
}

#header_icon {
  fill: rgba(0, 157, 246, 1.000);
}

.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
}
svg.brand {
  height: 20px;
  margin-top: 10px;
}

.nav-link {
  padding: 0;
}

.btn-social > :first-child {
  line-height: 48px;
}
.avatar {
  //@extend .img-thumbnail;
  //@extend .mx-auto;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}
div.fileinput-preview img {
  @extend .avatar;
}
.fa {
  font-family: FontAwesome !important;
}

// styles used for events and mailbox
.flex-center ul,
.card-overlay ul,
.section.team-section
.avatar ul,
.section.team-section div.fileinput-preview img ul,
div.fileinput-preview .section.team-section img ul,
.testimonial-carousel .testimonial .avatar ul,
.testimonial-carousel .testimonial div.fileinput-preview img ul,
div.fileinput-preview .testimonial-carousel .testimonial img ul,
.card .card-circle ul {
  text-align: left;
}
.panel {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 6px;
}
div.mailbox-thread-card.list-group-item.list-group-item-action {
  border: 0;
  margin-bottom: 0;
}

.simple_discussion .fa {
  font-family: FontAwesome !important;
  width: 20px;
  text-align: center;
}

.paginator {
  margin: 10px;
}
.panel-body:before, .panel-body:after {
  content: " ";
  display: table;
}
#mailbox_folders {
  .panel-body {
    padding: 20px;
  }
  .md-pills .nav-link {
    text-align: left;
  }
  hr {
    margin: 20px -20px;
  }
  .btn {
    box-shadow: none;
  }
  .btn-outline-info {
    border: 1px solid #33b5e5;
    border-radius: 6px;
  }
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  box-sizing: content-box;
  height: 0;
  margin: 0;
}

.text-right {
  line-height: 32px;
}
.tab-content {
  padding: 0;
}
.tab-pane {
  padding: 0;
}
.pagination {
  margin: 0;
}
.page-link {
  background-color: inherit;
  height: 32px;
  width: 32px;
}
.page-item {
  height: 32px;
  width: 32px;
  margin-right: 6px;
}
.pagination-icons {
  font-size: 24px;
  position: absolute;
  margin-top: -6px;
}

.badge {
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;
}

.spinner {
  font-size: 4em;
  text-align: center;
  padding: 0.55em;
  color: #282d3f;
  display: none;
}
.mailbox-messages {
  padding-top: 15px;
}
.nav-tabs {
  margin-bottom: inherit;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}


//

.mdb-skin .top-nav-collapse, .mdb-skin-custom .navbar {
  background-color: #243a51
}
.mdb-skin-custom .navbar {
  color: #fff
}

.mdb-skin-custom .navbar .navbar-nav .nav-item .dropdown-menu a:active,
.mdb-skin-custom .navbar .navbar-nav .nav-item .dropdown-menu a:focus,
.mdb-skin-custom .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #1dade2
}

.mdb-skin-custom .page-footer {
  background-color: #243a51
}

.mdb-skin-custom .btn-ptc {
  background: #08aae6
}

.mdb-skin-custom .btn-ptc:focus, .mdb-skin-custom .btn-ptc:hover {
  background-color: #4abde8 !important
}

.mdb-skin-custom .btn-ptc.active {
  background-color: #14799e !important
}

.mdb-skin-custom .btn-dtc {
  background: #086fb9
}

.mdb-skin-custom .btn-dtc:focus, .mdb-skin-custom .btn-dtc:hover {
  background-color: #1e71ae !important
}

.mdb-skin-custom .btn-dtc.active {
  background-color: #0b2a41 !important
}

.mdb-skin-custom .btn-stc {
  background: #083761
}

.mdb-skin-custom .btn-stc:focus, .mdb-skin-custom .btn-stc:hover {
  background-color: #114a7d !important
}

.mdb-skin-custom .btn-stc.active {
  background-color: #02080d !important
}

.mdb-skin-custom .form-header-custom {
  background: #1b95c1 !important
}
