/ Rails flash messages styled for NOTY

- unless flash.empty?
  - flash_messages = []
  - flash.each do |type, message, title|
    ruby:
      type = 'success' if type == 'notice'
      type = 'error' if type == 'alert'

      text =  "<script>new Noty({"
      text += "type: '#{type}',"
      text += "text: '#{message}',"
      text += "layout: 'topRight',"
      text += "theme: 'semanticui',"
      text += "timeout: '3000'"
      # text += ", '#{title}'" if title.present? # include title if set
      text += '}).show();</script>'
      flash_messages << text.html_safe if message.present?
  = safe_join(flash_messages, "\n")

